/**
 * theme for reveal.js.
 * Author:
 */

@import "../mixins";
@import "../settings";

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,200i,300,300i,400,400i,600,600i');

/**
 * colors by
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

$base1: #ffffff;
$base0: #272822;
$base2: #FD971F;
$accent: #F92672;
$accent2: #A6E22E;
$accent3: #66D9EF;

$mainColor: $base0;
$headingColor: $base2;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: $base1;
$linkColor: $accent3;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $accent2;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

@import "../theme";

body {
    background-image: url(../img/cesium.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 3% 96%;
}

.authors {
    height: 100px;
    display: inline-block;
    margin: 40px !important;
}

.author {
    float: left;
    margin: 15px !important;
}

.social {
    display: block;
    a {
        color: $mainColor;
        &:hover {
            color: $accent3;
        }
    }
}

